.messageContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1rem;
}

.musicIcon {
  color: purple;
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
}

.welcomeMessage {
  font-family: monospace;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.playerContainer {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22rem;
  background-color: var(--black-80);
  padding: 0.8rem;
  border: 1px solid var(--white-100);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.icon {
  color: var(--white-60);
  background: transparent;
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon:hover {
  color: #9932CC
}

.volumeIndicator {
  display: flex;
  align-items: flex-end;
}

.volumeBar {
  width: 10px;
  height: 18px;
  background-color: var(--gray-60);
  margin-right: 4px;
  transition: background-color 0.3s;
  animation: none;
}

@keyframes pulse {
  0%, 100% {
    background-color: #9932CC
  }
  50% {
    background-color: var(--gray-60);
  }
}

.volumeBar.active {
  animation: pulse 1.5s infinite;
}